<h1>Welcome {{user.firstName}}</h1>
<h4>Your Stories</h4>

{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td>
            <a href="/stories/{{id}}">{{title}}</a>
          </td>
          <td>{{formatDate date 'MMMM Do YYYY'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a href="/stories/edit/{{id}}" class="btn">
              <i class="fa fa-pencil"></i>
              &nbsp;Edit
            </a>

            <form id="delete-form" method="post"
              action="/stories/{{id}}?_method=DELETE">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="btn red">
                <i class="fa fa-remove"></i>
                &nbsp;Delete
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created any stories yet</p>
{{/if}}
